boto3==1.42.83
boto3-stubs==1.42.83
botocore==1.42.83
botocore-stubs==1.42.41
jmespath==1.1.0
mypy-boto3-ec2==1.42.80
mypy-boto3-iam==1.42.64
mypy-boto3-s3==1.42.80
mypy-boto3-sts==1.42.3
python-dateutil==2.9.0.post0
s3transfer==0.16.0
six==1.17.0
types-awscrt==0.31.3
types-s3transfer==0.16.0
typing_extensions==4.15.0
urllib3==2.6.3
